<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Erin Graham</title>
    <meta name="description" content="Graphic Design: original art and design by Erin Graham located in Ottawa, Canada">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic' rel='stylesheet' type='text/css'>
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

    <ul class="skip-links">
        <li><a href="#main">Skip to main content</a></li>
        <li><a href="#navigation">Skip to navigation</a></li>    
    </ul>
    
    <header class="header grid" id="top" role="banner"> 
        <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
            <nav role="navigation" id="navigation">
                <ul class="nav kilo">
                    <li><a href="{{site.baseurl}}/">HOME</a></li>
                    <li class="gutter-1-2"><a href="{{site.baseurl}}/about/">ABOUT</a></li>
                    <li><a href="{{site.baseurl}}/contact/">CONTACT</a></li>
                </ul>
            </nav> 
        </div>
    </header>
    
    <div class="grid">
        <div class="pad-b logo unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
            <a href="{{site.baseurl}}/"><img class="img-flex" src="{{site.baseurl}}/images/design/logo.svg" alt="Erin Logo"></a>
        </div>
    </div>
    
    {{content}}
    
    <div class="grid">
        <div class="icons pad-t-2 pad-b-1-2 unit unit-xs-1 unit-s-1 unit-m-1-1 unit-l-1-1">
            <a href="https://ca.linkedin.com/pub/erin-graham/75/960/68"><img src="{{site.baseurl}}/images/design/linkedin-01.svg" alt="linkedin button"></a>
            <a href="https://www.behance.net/erin-graham"><img class="gutter" src="{{site.baseurl}}/images/design/behance-01.svg" alt="behance button"></a>
            <a href="mailto:erin.graham9@gmail.com"><img src="{{site.baseurl}}/images/design/email-01.svg" alt="email button"></a>
        </div>
        
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-1 unit-l-1-1">
            <h2 class="connect mega">CONNECT WITH ME</h2>
        </div>
    </div>
    
    <footer role="contentinfo" class="footer grid">
        <a href="#top" class="skip-links-b"></a>
        <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">  
            <p class="copyright pad-t gutter">© Erin Graham 2015</p>
        </div>
    </footer>
    
</body>
</html>